<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master.master.cs" Inherits="GAPA.Master" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/bootstrap.css" rel="stylesheet" />
    <script src="js/jquery-3.2.1.min.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <script src="js/bootstrap.min.js"></script>

    <script src="css_nav/js_nav_mob.js"></script>
    <link href="css_nav/nav_mob.css" rel="stylesheet" />

    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>

<body>
    <form id="form1" runat="server">
            <!--Menu-->
            <section class="navigation">
                <div class="nav-container">
                    <div class="brand">
                        <a class="navbar-brand" href="Dashboard.aspx">
                            <img src="Imagens_Sites/logo.png" /></a>

                    </div>
                    <nav>
                        <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>

                        <ul class="nav-list">

                            <% if (Session["tipo"] != null && Session["tipo"].Equals("Administrador"))
                                { %>
                            <li>
                                <a>Utilizadores</a>
                                <ul class="nav-dropdown">
                                    <li>
                                        <a href="Utilizadores_Add.aspx">Registar Utilizador</a>
                                    </li>
                                    <li>
                                        <a href="Utilizadores_G.aspx">Gerir Utilizadores</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Portões</a>
                                <ul class="nav-dropdown">
                                    <li>
                                        <a href="Portoes_Add.aspx">Adicionar Portões</a>
                                    </li>
                                    <li>
                                        <a href="Portoes_G.aspx">Gerir Portões</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a>Perfis</a>
                                <ul class="nav-dropdown">
                                    <li>
                                        <a href="Perfis_Add.aspx">Adicionar Perfil</a>
                                    </li>
                                    <li>
                                        <a href="Perfis_G.aspx">Gerir Perfis</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="Eventos_redirect.aspx">Eventos</a>
                            </li>
                              <li>
                                <a href="Alertas.aspx">Alertas</a>
                            </li>
                            <li>
                                <a><% Response.Write(Session["nome"]);%></a>
                                <ul class="nav-dropdown">
                                    <li>
                                        <a href="Perfil_redirect.aspx">Perfil</a>
                                    </li>
                                    <li>
                                        <a href="logout.aspx">Logout</a>
                                    </li>
                                </ul>
                            </li>

                            <% }
                                else if (Session["tipo"] != null && Session["tipo"].Equals("User"))
                                { %>
                            <li>
                                <a href="Dashboard.aspx">Home</a>
                            </li>
                            <li>
                                <a href="Eventos_redirect.aspx">Eventos</a>
                            </li>
                            <li>
                                <a><% Response.Write(Session["nome"]);%></a>
                                <ul class="nav-dropdown">
                                    <li>
                                        <a href="Perfil_redirect.aspx">Perfil</a>
                                    </li>
                                    <li>
                                        <a href="logout.aspx">Logout</a>
                                    </li>
                                </ul>
                            </li>
                            <%}
                                else if (Session["tipo"] == null)
                                { %>
                            <li>
                                <a href="Login.aspx"><span class="glyphicon glyphicon-log-in"></span>&nbsp;Login</a>
                            </li>
                            <%} %>
                        </ul>
                    </nav>


                </div>

            </section>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
    </form>

</body>
</html>
