

.center {
    margin: auto;
    font-size: 18px;
    width: 50%;
    padding: 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #ffffff;
}

.label {
    color: #00649d;
    font-size:15px;
}

.label-erro{
    font-size:10px;
}