@charset "UTF-8";

.navigation {
    height: 50px;
    background: #f8f8f8;
}
.navbar-brand {
    padding: 0px;
}

.espacamento_menu {
    background-color: #f8f8f8;
    min-width: 750px;
    height: 20px;
}

.cor_downlaod:hover {
    background: #00649d;
    color: #000000;
}

.navbar-brand > img {
    height: 100%;
    padding: 15px;
    width: auto;
}

.navbar-brand {
    padding: 0px;
}

    .navbar-brand > img {
        height: 100%;
        padding: 15px;
        width: auto;
    }

.brand {
    position: absolute;
    padding-left: 5px;
    padding-top:0px;
    float: left;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 1.4em;
}

    .brand a,
    .brand a:visited {
        color: #ffffff;
    }

.nav-container {
    text-decoration: none;
    max-width: none;
    margin: 0px;
    padding-left: 30px initial;
}

.nav-container-right {
    text-decoration: none;
    max-width: none;
    margin: 0px;
    padding-left: 70px initial;
}


nav {
    text-decoration: none;
    float: right;
}


    nav ul {
        text-decoration: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }

        nav ul li {
            text-decoration: none;
            float: left;
            position: relative;
        }

            nav ul li a,
            nav ul li a:visited {
                text-decoration: none;
                display: block;
                padding: 0 20px;
                line-height: 50px;
                background: #f8f8f8;
                color: #808080;
            }
                nav ul li a:visited {
                    text-decoration: none;
                }


                nav ul li a:hover,
                nav ul li a:visited:hover {
                    text-decoration: none;
                    display: block;
                    background: #00649d;
                    color: #ffffff;
                }

                nav ul li a:not(:only-child):after,
                nav ul li a:visited:not(:only-child):after {
                    text-decoration: none;
                    padding-left: 4px;
                    content: ' ▾';
                }

            nav ul li ul li {
                text-decoration: none;
                min-width: 190px;
            }

                nav ul li ul li a {
                    padding: 15px;
                    line-height: 20px;
                }

.nav-dropdown {
    position: absolute;
    display: none;
    z-index: 1;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: #f8f8f8;
    height: 50px;
    width: 50px;
}

@media only screen and (max-width: 800px) {
    .nav-mobile {
        display: block;
    }

    nav {
        width: 100%;
        padding: 50px 0 15px;
    }

        nav ul {
            display: none;
        }
            nav ul li {
                float: none;
            }

                nav ul li a {
                    padding: 15px;
                    line-height: 20px;
                }

                nav ul li ul li a {
                    padding-left: 30px;
                }

    .nav-dropdown {
        position: static;
    }
}



@media screen and (min-width: 800px) {
    .nav-list {
        display: block !important;
    }
}

#nav-toggle {
    position: absolute;
    left: 10px;
    top: 23px;
    cursor: pointer;
    padding: 10px 10px 16px 0px;
}

    #nav-toggle span,
    #nav-toggle span:before,
    #nav-toggle span:after {
        cursor: pointer;
        border-radius: 0px;
        height: 5px;
        width: 23px;
        position: absolute;
        background: #00649d;
        content: '';
        transition: all 300ms ease-in-out;
    }

        #nav-toggle span:before {
            top: -20px;
        }

        #nav-toggle span:after {
            bottom: 10px;
        }

    #nav-toggle.active span {
        background-color: transparent;
    }

        #nav-toggle.active span:before, #nav-toggle.active span:after {
            top: -5px;
        }

        #nav-toggle.active span:before {
            transform: rotate(45deg);
        }

        #nav-toggle.active span:after {
            transform: rotate(-45deg);
        }

article {
    align-content:center;
    margin:30px 14% 10% 10%;
}
